
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
img{
    border: none;
}

/* GENERALS */

body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: MuseoSans, Georgia, serif;
    font-size: 17px;
    /* color: #444; */
    background-color: #E1E3E4;
    overflow-x:hidden;
}

a{
    color:#409F89;
    text-decoration:none;

    -webkit-transition: color .25s ease-out;
    transition: color .25s ease-out;
}
a:hover{
    color:#444;
    text-decoration:none;
}

h1, h2, h3, h4,h5{
    margin-bottom:20px;
    font-weight: bold;
    line-height: 170%;
}
h1{
    font-size:26px;
}
h2{
    font-size: 26px;
}
h3{
    font-size:21px;
}

.font-thin{
    font-family: 'MuseoSans_light';
    font-weight: normal;
}

p,
blockquote{
    margin-bottom:20px;
    line-height:170%;
}

input[type=submit]{
    -webkit-appearance: none;
}

input, textarea, select{
    font-family: MuseoSans, Georgia, "Times New Roman", Times, serif;
    color:#444;
}

.clear{	clear:both; }

/* CONTENT */

.wrapper{
    width:647px;
    margin:0 auto;

    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

/* BUTTONS */

.button{
    display:inline-block;
    height:33px;
    line-height:34px;
    padding:0 15px;
    background-color:#444;
    color:#fff;
    cursor:pointer;
    border:none;
    border-radius: 2px;

    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.button.big{
    height:48px;
    line-height:49px;
    font-size:20px;
    font-family: 'MuseoSans_light';
}

.button.ico{
    position:relative;
    padding-left:34px;
}
.button.ico:before{
    content:'';
    position:absolute;
    top:11px;
    left:12px;
    display:block;
    /*background-image:url(../images/bg-sprite-icons.png);*/
    background-repeat:no-repeat;
}
.button.ico.download{
    padding-left:45px;
}
.button.ico.download:before{
    width:24px;
    height:22px;
    background-position:-131px -101px;
}
.button:hover{
    color:#fff;
    filter: alpha(opacity=75);
    opacity:.75;
}

/* HEADER */

header{
    text-align: center;
}

header .logo {
    margin: 40px 0 20px 0;
}

/* TUTO RIBBONS */

.tuto-ribbons{
    padding-bottom: 30px
}

.tuto-ribbons h3{
    text-align: left;
}

.tuto-ribbons .ribbons{
    overflow: hidden;
}
.tuto-ribbons .ribbons ul{
    margin-bottom: 30px;
}
.tuto-ribbons .ribbons ul.color{
    float: left;
    margin-bottom: 5px;
}
.tuto-ribbons .ribbons ul.position{
    float: left;
}
.tuto-ribbons .ribbons ul li{
    float: left;
    margin-right: 20px;
}
.tuto-ribbons .ribbons ul li:last-child{
    margin-right: 0;
}
.tuto-ribbons .ribbons ul li label{
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.tuto-ribbons .ribbons ul li span{
    display: block;
    padding-top: 15px;

    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.tuto-ribbons .ribbons ul li:hover span{
    opacity: .75;
}

.tuto-ribbons .ribbons ul.color label:before{
    content: '';
    display: block;
    width: 82px;
    height: 82px;
    border-radius: 82px;
    cursor: pointer;
    overflow: hidden;

    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
}

.tuto-ribbons .ribbons ul.color label.black:before{
    background-color: #000;
}
.tuto-ribbons .ribbons ul.color label.silver:before{
    background-color: #C0C0C0;
}
.tuto-ribbons .ribbons ul.color label.camo:before{
    background-image: url("./camo.png");
}
.tuto-ribbons .ribbons ul.color label.white:before{
    background-color: #fff;
}
.tuto-ribbons .button{
    margin-right: 10px;
    font-size: 19px;
}

.tuto-ribbons .computer .screen{
    position: absolute;
    top:25px;
    left: 27px;
    width: 592px;
    height: 355px;
}

/* RIBBONS */

#awwwards{
    position: absolute;
    width: 126px;
    height: 126px;
    text-indent: -666em;
    overflow: hidden;
    z-index: 999;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#awwwards.top{
    top: 0;
}
#awwwards.bottom{
    bottom: 0;
}
#awwwards.left{
    left: 0;
}
#awwwards.right{
    right: 0;
}

#awwwards a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 126px;
    height: 126px;
    background-repeat: no-repeat;
    background-position: 4px -23px;
    background-size: 145px 145px;
}

#awwwards.top.left a{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#awwwards.bottom.left a{
    background-position: -23px 4px;
}
#awwwards.bottom.right a{
    background-position: -23px 4px;

    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

